@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.app {
    width: 100%;
    max-width: 450px;
    min-height: 100vh;
    overflow: hidden;
    color: #ffffff;
    background-color: #121212;
    background-image: linear-gradient(#8a0f28 0%, #8a0f28 45%, #600a1d 65%, #121212 85%);
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.header p {
    font-weight: 600;
}

.header .right-icon i {
    font-size: 20px;
}

.cover {
    width: 100%;
    margin-top: 20px;
    padding: 0 45px;
    display: flex;
    justify-content: center;
}

.cover img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.music-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin-top: 20px;
}

.text-info {
    flex: 1;
    overflow: hidden;
    margin-right: 15px;
}

.music-info .title h1{
    font-size: 26px;
    font-weight: 700;
    white-space: nowrap;
    animation: scrollText 8s linear infinite alternate;
    margin-bottom: 5px;
}

.music-info .artist h2 {
    font-size: 14px;
    font-weight: 450;
    color: rgba(255, 255, 255);
    margin-right: 5px;
}

.saved-icon {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    color: rgb(138, 15, 40);
    font-size: 18px;
}

.player {
    padding: 0 20px;
    margin-top: 10px;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
}

.progress-bar input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    outline: none;
}

.progress-bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.controls i {
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.track {
    display: flex;
    align-items: center;
    gap: 30px;
}

.track i {
    font-size: 30px;
    opacity: 0.4;
}

.play-pause {
    width: 73px;
    height: 73px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.play-pause i {
    font-size: 24px;
    color:rgb(138, 15, 40);
    opacity: 1;
}

.play-pause .fa-play {
    display: none;
}

@keyframes scrollText {
    0%, 20% { 
        transform: translateX(0); /* Fica parado no começo por um tempinho */
    }
    80%, 100% { 
        transform: translateX(-50%); /* Desliza para a esquerda e para no final */
    }
}

/* 73x73 butao do meio */
/* color: rgb(138, 15, 40); */